.p_center{
    width: 80%;
    margin: 0 auto;
}
/*公共样式*/

/*1.样式重置*/
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-line-through: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

html,body,ul,li,img,a,p,div,form,input{
    padding: 0;
    margin: 0;
    /*设置盒模型*/
    box-sizing: border-box;
    /*去除移动端特有的点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
}
ul>li{
    cursor: pointer;
}
body{
    font-family: "微软雅黑",Microsoft Yahei ,sans-serif;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}
select{
    outline:none;
}
a,
a:hover{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}
input{
    /*1.清除文本框获取焦点时默认的边框阴影*/
    outline: none;
    /*2.去除边框*/
    border: none;
    /*3.添加边框*/
    /* border: 1px solid #ccc;*/
}

/*2.添加新的样式*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}

.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}
em,i,s{
    font-style: normal;
    text-decoration: none;

}
span{
    display: inline-block;
}
textarea{
    font-family: "微软雅黑",Microsoft Yahei ,sans-serif;
    outline: none;
    /*2.去除边框*/
    border: none;
    resize: none;
}
button{
    border:none;
    outline:none;

}
/*改变placeholder的字体颜色*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;opacity:1;
}

input:-ms-input-placeholder{
    color: #fff;opacity:1;
}

input::-webkit-input-placeholder{
    color: #fff;opacity:1;
}
/* IE6对positon:fixed的单独处理修正IE6滚动抖动的bug */
*html,*html body{
    background-image:url(about:blank);/*修正IE6滚动抖动的bug*/
    background-attachment: fixed;/*根据自己实际，非必需*/
}
a,
a:hover,a:active,a:link,a:visited{

    text-decoration: none;
}
.main{
    padding-top: 200px;
}
#mask{
    width: 100%;
    height: 100%;
    opacity: 0.4; /*半透明*/
    filter: alpha(opacity=40); /*ie 6半透明*/
    background-color: black;
    position: fixed;
    z-index:5;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}
.no_in{
    display: inline-block;
    font-size: 22px;
    color:#999;
    padding: 50px;
}
/*小黄*/
.clearfix::before,
.clearfix::after,
.video-list::after,
.teacherMessage::after,
.p_center::after,
.recommend-sublist::after,
.video::after{
    content: "";
    display: block;
    height: 0;
    line-height: 0px;
    clear: both;
    visibility: hidden;
}
.Page{
    text-align: right;
}
/*查看更多*/
.see_more{
    margin-top: 8px;
    text-align: right;
    padding-right: 30px;
}
.is_hand{
    color:#f01414;
}
/*mui图片查看*/
.mui-slider .mui-slider-group .mui-slider-item img{
    width: 40%;
}
