.main{
  width: 100%;
  height: 750px;
  background: url("../img/login.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  .login_box{
    padding: 0 30px;
    width: 360px;
    height: 300px;
    position: relative;
    top: 45%;
    left:22%;
    transform:translate(-50%,-50%);
    background-color: #fff;
    >h3{
      font-size: 16px;
      height: 70px;
      line-height: 70px;
    }
    >div{
      height: 45px;
      line-height: 45px;
      width: 100%;
      position: relative;
      border:2px solid #ddd;
      border-left: 0;
      &.user_name{
        margin-bottom:10px;
      }
      &.pwd_input{
        &.password{
          span{
            top: -1%;
          }
        }
        .eye{
          position: absolute;
          width: 27px;
          height: 30px;
          right: 3%;
          top: 10%;
          cursor: pointer;
          background: url("../img/eye.png") no-repeat center;
          -webkit-background-size: 100%;
          background-size: 100%;
        }
      }
      >span{
        width: 14%;
        height: 43px;
        background-color: #ddd;
        color:#fff;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top:-1%;
        left: 0;
      }
      >input{
        height: 30px;
        line-height: 30px;
        width: 84%;
        position: absolute;
        margin-left: 15%;
        top: 18%;
        font-size: 14px;
      }
    }
    >.sign{
      margin-top: 10px;
      width: 100%;
      background-color: #f01414;
      color:#fff;
      text-align: center;
      font-size: 16px;
      height: 45px;
      line-height: 45px;
      border:none;
      cursor: pointer;
    }
    >.third_login{
      width: 100%;
      margin-top: 10px;
      >span{
        cursor: pointer;
        width: 32%;
        text-align: center;
        &:first-of-type {
          em {
            color: #3eb135;
          }
        }
          &:nth-of-type(2){
          em{
            color:#4dafea;
          }
        }  &:nth-of-type(3){
          em{
            color:#df4d69;
          }
        }
        em{
          font-size: 20px;
          vertical-align: middle;
        }
        i{

          font-size: 12px;
        }

      }
    }
    >h4{
      position: relative;
      width: 50%;
      left: 65%;
      height: 30%;
      margin-top: 5px;
      font-weight: 400;
      >span{
        display: inline-block;
        width: 48%;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }

}
footer{
  position: relative;
  margin-top: -100px;
  }
/*rejister*/
.main{
  .register_box{
    height: 350px;
    top: 47%;
    >h3{
      height: 60px;
      line-height: 60px;
    }
    .code{
      margin-bottom: 10px;
      >span{
        top: -1%;
      }
      >del{
        position: absolute;
        right: 3%;
        top: 8%;
        color:#f01414;
        cursor: pointer;
      }
    }
    >h4{
      margin-top: 8px;
    }
  }
}
/*ÕÒ»Ø ÃÜÂë*/
.main{
  .find{
    >h3{
      height: 60px;
      line-height: 60px;
    }
    >div{
      height: 40px;
      line-height: 40px;
      &.pwd_input{
        margin-bottom: 10px;
      }
      >span{
        height: 38px;
      }
    }
    >.sign{
      height: 40px;
      line-height: 40px;
      margin-top: 0;
    }

  }
}

