<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="shortcut icon " type="images/x-icon" href="../../ico.ico">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>学校主页</title>
    <!-- Bootstrap -->
    <link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/base.css" rel="stylesheet">
    <link href="../../css/sweetalert2.css" rel="stylesheet">
    <link href="../../css/iconfont.css" rel="stylesheet">
    <link href="../../css/index/edu_index.css" rel="stylesheet">
</head>
<body>
<div class="layer">
    <div class="header"></div>
    <div class="main">
        <div class="content p_center clearfix">
            <h5>当前位置：首页>名校</h5>
            <div class="mine_left f_left">
                <div class="left_top">
                    <div class="box_img">
                    </div>
                    <div class="left_top_center">
                        <!-- <img src="../../img/focus-img1.png" alt=""/>
                         <div class="reply">
                             <button class="attention">+ 关注</button>
                             <button class="hand iconfont icon-xin"> 点赞</button>
                         </div>-->
                    </div>
                </div>
                <div class="left_middle">
                    <p class="active">课程</p>
                    <p >教师</p>
                </div>
                <div class="left_bottom">
                    <span>关注微信公众号</span>
                    <img src="../../img/code.png" alt=""/>
                    <span>下载猴姆教学APP</span>
                    <img src="../../img/code.png" alt=""/>
                </div>
            </div>
            <div class="mine_right f_right">
                <!--个人信息-->
                <div class="mine_info clearfix">
                    <!--  <div class="in_left f_left">
                          <h5>华南师范大学附属中学</h5>
                          <div class="school">
                              <i>初中</i>
                              <i>高中</i>
                          </div>
                          <p>广州市天河区中山大道西1号</p>
                      </div>
                      <div class="in_right f_right">
                          <p>
                              <span>659</span>
                              <em>学生</em>
                          </p>
                          <p>
                              <span>659</span>
                              <em>粉丝</em>
                          </p>
                          <p>
                              <span>659</span>
                              <em>获赞</em>
                          </p>
                      </div>-->
                </div>
                <div class="all_teacher course_content">
                    <ul>

                        <!--  <li>
                              <a href="">
                                  <img src="../../img/focus-img1.png" alt=""/>
                                  <div class="center">
                                      <div class="top clearfix">
                                          <span>人教版</span>
                                          2018年初二数学上期
                                      </div>
                                      <h5>8小时20分钟</h5>
                                      <p>更新至第12课时更新至第12课时更新至第12课时  如果两条直线与第三条直线平行...</p>
                                      <div class="c_b">
                                          <em>★</em>
                                          <em>★</em>
                                          <em>★</em>
                                          <em>★</em>
                                          <em>★</em>
                                          9.6分
                                          <span>1.6W人学习</span>
                                      </div>
                                  </div>
                                  <div class="cr_right">
                                          <button>立即学习</button>
                                  <div class="share">
                                      <i class="iconfont icon-changyonglogo28"></i>
                                      <i class="iconfont icon-qq1"></i>
                                      <i class="iconfont icon-weibo"></i>
                                      <i class="iconfont icon-kongjian"></i>
                                  </div>
                                  </div>
                              </a>
                          </li>
                          <li>
                              <a href="">
                                  <img src="../../img/focus-img1.png" alt=""/>
                                  <div class="center">
                                      <div class="top clearfix">
                                          <span>人教版</span>
                                          2018年初二数学上期
                                      </div>
                                      <h5>8小时20分钟</h5>
                                      <p>更新至第12课时更新至第12课时更新至第12课时  如果两条直线与第三条直线平行...</p>
                                      <div class="c_b">
                                          <em>★</em>
                                          <em>★</em>
                                          <em>★</em>
                                          <em>★</em>
                                          <em>★</em>
                                          9.6分
                                          <span>1.6W人学习</span>
                                      </div>
                                  </div>
                                  <div class="cr_right">
                                          <button>立即学习</button>
                                  <div class="share">
                                      <i class="iconfont icon-changyonglogo28"></i>
                                      <i class="iconfont icon-qq1"></i>
                                      <i class="iconfont icon-weibo"></i>
                                      <i class="iconfont icon-kongjian"></i>
                                  </div>
                                  </div>
                              </a>
                          </li>-->
                    </ul>
                </div>
                <div class="all_teacher teacher_content">
                    <!-- <div class="sub">
                         <span data-sub="1" class="active">全部</span>
                         <span data-sub="1">数学</span>
                         <span data-sub="1">英语</span>
                         <span data-sub="1">语文</span>
                         <span data-sub="1">物理</span>
                         <span data-sub="1">化学</span>
                         <span data-sub="1">生物</span>
                         <span data-sub="1">政治</span>
                         <span data-sub="1">历史</span>
                         <span data-sub="1">地理</span>
                         <span data-sub="1">其他</span>
                     </div>-->
                    <div class="teacher_content">
                        <ul>
                            <!--  <li>
                                  <div class="head">
                                      <img src="../../img/focus-img1.png" alt=""/>
                                      <div class="head_center">
                                          <h3>魏雨</h3>
                                          <div class="tec">
                                              <i>初一</i>
                                              <i>初二</i>
                                              <i>英语</i>
                                          </div>
                                      </div>
                                     &lt;!&ndash; <em class="no_att">+ 已关注</em>&ndash;&gt;
                                  </div>
                                  <div class="bot">
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <i>9.3</i>
                                      <s>关注 3</s>
                                      <s>粉丝 13</s>
                                  </div>
                              </li>
                              <li>
                                  <div class="head">
                                      <img src="../../img/focus-img1.png" alt=""/>
                                      <div class="head_center">
                                          <h3>魏雨</h3>
                                          <div class="tec">
                                              <i>初一</i>
                                              <i>初二</i>
                                              <i>英语</i>
                                          </div>
                                      </div>
                                      <em class="has_att">已关注</em>
                                  </div>
                                  <div class="bot">
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <i>9.3</i>
                                      <s>关注 3</s>
                                      <s>粉丝 13</s>
                                  </div>
                              </li>
                              <li>
                                  <div class="head">
                                      <img src="../../img/focus-img1.png" alt=""/>
                                      <div class="head_center">
                                          <h3>魏雨</h3>
                                          <div class="tec">
                                              <i>初一</i>
                                              <i>初二</i>
                                              <i>英语</i>
                                          </div>
                                      </div>
                                      <em class="has_att">√ 已关注</em>
                                  </div>
                                  <div class="bot">
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <i>9.3</i>
                                      <s>关注 3</s>
                                      <s>粉丝 13</s>
                                  </div>
                              </li>
                              <li>
                                  <div class="head">
                                      <img src="../../img/focus-img1.png" alt=""/>
                                      <div class="head_center">
                                          <h3>魏雨</h3>
                                          <div class="tec">
                                              <i>初一</i>
                                              <i>初二</i>
                                              <i>英语</i>
                                          </div>
                                      </div>
                                      <em class="no_att">+ 已关注</em>
                                  </div>
                                  <div class="bot">
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <i>9.3</i>
                                      <s>关注 3</s>
                                      <s>粉丝 13</s>
                                  </div>
                              </li>
                              <li>
                                  <div class="head">
                                      <img src="../../img/focus-img1.png" alt=""/>
                                      <div class="head_center">
                                          <h3>魏雨</h3>
                                          <div class="tec">
                                              <i>初一</i>
                                              <i>初二</i>
                                              <i>英语</i>
                                          </div>
                                      </div>
                                      <em class="has_att">已关注</em>
                                  </div>
                                  <div class="bot">
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <em>★</em>
                                      <i>9.3</i>
                                      <s>关注 3</s>
                                      <s>粉丝 13</s>
                                  </div>
                              </li>-->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer"></div>
</div>
</body>
<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
<!--[if lt IE 9]>
<script src="../../js/bootstrap/html5shiv.main.js"></script>
<script src="../../js/bootstrap/respond.min.js"></script>
<![endif]-->
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="../../js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="../../js/bootstrap/bootstrap.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/sweetalert2.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/template.js"></script>
<script type="text/html" id="lesson">
    {{if data == null||data.updateNum==0}}
    <div class="no_in">对不起，暂时没有课程可以展示</div>
    {{else}}
    {{each data.allCourse as value i}}
    <li>
        <a href="../lesson/video.html?id={{value.course.id}}">
            <img src='{{value.course.coursePicture==null?"../../img/logo.png":value.course.coursePicture}}' onerror="this.src='../../img/logo.png'" alt=""/>
            <div class="center">
                <div class="top clearfix">
                    <span>{{value.course.version==null||value.course.version==""?"未设置":value.course.version}}</span>
                    {{value.course.academicYear}}{{value.course.grade}}{{value.course.subject}}{{value.course.semester}}{{value.course.name}}
                </div>
                <!-- <h5>8小时20分钟</h5>-->
                <p>更新第{{value.updateNum}}课时</p>
                <div class="c_b">
                    <em class="iconfont icon-wode1"> {{value.StudyCourseNum}}</em>
                    <em class="iconfont icon-wujiaoxingkong"> {{value.CollectNum}}</em>
                    <em class="iconfont icon-xin1"> {{value.LoveNum}}</em>
                    <!-- <em>★</em>
                     <em>★</em>
                     <em>★</em>
                     <em>★</em>
                     <em>★</em>
                     9.6分
                     <span>1.6W人学习</span>-->
                </div>
            </div>
            <div class="cr_right">
                <button>立即学习</button>
                <!-- <div class="share">
                     <i class="iconfont icon-changyonglogo28"></i>
                     <i class="iconfont icon-qq1"></i>
                     <i class="iconfont icon-weibo"></i>
                     <i class="iconfont icon-kongjian"></i>
                 </div>-->
            </div>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>
<script type="text/html" id="teacher">
    {{if data==null||data.updateNum==0}}
    <div class="no_in">对不起，暂时没有教师可以展示</div>
    {{else}}
    {{each data.teacherList as value i}}
    <li onclick="location.href='../famous_teacher/teacher_index.html?id={{value.teacher.userid}}'">
        <div class="head">
            <img src="{{value.teacher.portrait==null?'../../img/logo.png':value.teacher.portrait}}" alt=""/>
            <div class="head_center">
                <h3>{{value.teacher.nickname==null?value.teacher.realName==null?"猴姆教学":value.teacher.realName:value.teacher.nickname}}</h3>
                <div class="tec">
                    <i>{{value.teacher.teachingSubjects}}</i>
                    <i>{{value.teacher.grade}}</i>
                </div>
            </div>
            <!--   <em class="has_att">√ 已关注</em>-->
        </div>
        <div class="bot">
            <!--<em>★</em>
            <em>★</em>
            <em>★</em>
            <em>★</em>
            <em>★</em>
            <i>9.3</i>-->
            <s>{{value.CourseNum}}课程 || {{value.PeriodNum}}课时 &nbsp;&nbsp;&nbsp;{{value.FansNum}} 学生 | {{value.LoveNum}} 获赞 </s>
            <!-- <s>关注 3</s>
             <s>粉丝 13</s>-->
        </div>
    </li>
    {{/each}}
    {{/if}}
</script>
<script type="text/html" id="replay">
    <img src='{{data.baseInfo.portrait==null?"../../img/logo%20(2).png":data.baseInfo.portrait}}' alt=""/>
    <div class="reply">
        {{if data.WhetherAttention==false}}
        <button class="attention">+ 关注</button>
        {{else}}
        <button class="attention"> 取消关注</button>
        {{/if}}
        {{if data.WhetherLove==false}}
        <button class="hand iconfont icon-xin"> <s>点赞</s></button>
        {{else}}
        <button class="hand iconfont icon-xin"> <s>取消点赞</s></button>
        {{/if}}
    </div>
</script>
<script type="text/html" id="info">
    <div class="in_left f_left">
        <h5>{{data.baseInfo.name}}</h5>
        <div class="school">
            <i>{{data.baseInfo.containClasses}}</i>
        </div>
        <p>{{data.baseInfo.address}}</p>
    </div>
    <div class="in_right f_right">
        <p>
            <span>{{data.StudentNum}}</span>
            <em>学生</em>
        </p>
        <p>
            <span>{{data.FansNum}}</span>
            <em>粉丝</em>
        </p>
        <p>
            <span>{{data.LoveNum}}</span>
            <em>获赞</em>
        </p>
    </div>
</script>
<script>
    $(function () {
        $(".header").load("../common/header_logo.html");
        $(".footer").load("../common/footer.html");
        $(".sub>span").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            console.log($(this).text());
        })
        setTimeout(function () {
            $("header>nav>ul>li:nth-of-type(3)").addClass("active").siblings().removeClass("active");
        },300)

        /*切换 课程和教师*/
        $(".left_middle>p").click(function () {
            //jQuery index的属性
            var index = $(this).index();
            console.log(index);
            $(this).addClass("active").siblings().removeClass("active");
            $('.all_teacher').eq(index).show().siblings(".all_teacher").hide();
        })
        /*学校的主页*/
        //关注 或取消关注学校
        var userid=localStorage.getItem("this_userid");
        var schoolid=location.href.split("=")[1];
        // 点赞
        function loveSchool(e){
            myAjax({url:"/dynamic/update/Love/School",
                data:{userid:userid,
                    schoolid:schoolid
                },type:"post"}, function (data) {
                console.log(data);
                if(data.status==200){
                    if(data.data.love==true){
                        $(e).children("s").text("取消点赞")
                    }else{
                        $(e).children("s").text("点赞")
                    }
                }
            })
        }
        $(".main").on("click",".hand", function () {
            loveSchool(this)
        })
        //关注
        function attSchool(e){
            myAjax({url:"/dynamic/update/Attention/School",
                data:{fansId:userid,
                    beFocusedSchoolid:schoolid
                },type:"post"}, function (data) {
                console.log(data);
                if(data.status==200){
                    if(data.data.attention==true){
                        $(e).text("取消关注")
                    }else{
                        $(e).text("+ 关注")
                    }
                }
            })
        }
        $(".main").on("click",".attention", function () {
            attSchool(this)
        })
        //先得到是否 关注
        myAjax({url:"/school/related/get/School/BaseInfo",data:{userid:userid,schoolid:schoolid},type:"post"}, function (data) {
            console.log(data);
            if(data.status==200){
                /*template.helper("str", function (str) {
                 return str.split(",")
                 });
                 template.helper("sub", function (b) {
                 return parseInt(20000+b);
                 })*/
              $(".mine_right .mine_info").html(template("info",data));
                $(".mine_left .left_top_center").html(template("replay",data));

            }

        })
        //学校课程列表
        myAjax({url:"/school/related/get/School/CourseList",data:{schoolid:schoolid},type:"post"}, function (data) {
            console.log(data);
            if(data.status==200){
                // $("#segmentedControl>div:first-of-type>span>s").text(data.data.courseNum);
                /*template.helper("time",function(date){
                 var time=new Date(date).toLocaleString().replace(/:\d{1,2}$/,' ').substr(0,10).replace(/\//g,"-");
                 return time;

                 });*/
                $(".course_content>ul").html(template("lesson",data));

            }
        })
        //学校教师列表
        myAjax({url:"/school/related/get/School/TeacherList",data:{schoolid:schoolid},type:"post"}, function (data) {
            console.log(data);
            if(data.status==200){
                /* $("#segmentedControl>div:last-of-type>span>s").text(data.data.teacherNum);*/
                $(".teacher_content>ul").html(template("teacher",data))

            }
        })

    })
</script>
</html>