/*搜索span的基本样式*/
.span{
  padding: 3px;
  font-size: 12px;
  border:1px solid #eee;
  color:#999;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/**/
.h3{
  font-size: 16px;
  color:#666;
  height: 40px;
  line-height: 40px;
  font-weight: 400;
}
.main{
  margin-bottom: 30px;
  >.input{
    position: relative;
    >input{
      height: 40px;
      margin: 30px 0;
      display: block;
      width: 60%;
      margin-left: 15%;
      text-indent: 2em;
      font-size: 14px;
      border:1px solid #c1ccd2;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      &:-ms-input-placeholder{
        color: #999;opacity:1;
      }

      &::-webkit-input-placeholder{
        color: #999;opacity:1;
      }
    }
    >button{
      position: absolute;
      top: 0%;
      left:83%;
      height: 40px;
      line-height: 40px;
      background-color: #f01414;
      color:#fff;
    }
  }
>.searchResult{
  box-sizing: border-box;
  left: 12%;
  position: relative;
  /*热门搜索*/
 >.hot_search{
    >.hot_tit{
      position: relative;
      height: 40px;
      line-height: 40px;
      >span{
        color:#999;
        font-size: 16px;
      }
      >i{
        position: absolute;
        right:30%;
        color:#999;
        font-size: 14px;
        top: 5%;
      }
    }
   >.search-history-list{
     margin:10px 0;
     >span{
     .span
     }
   }
 }
  /*热门搜索*/
  >.search_lately{
    >h2{
      height: 30px;
      font-size: 16px;
      color:#666;
      font-weight: 400;
    }
    >.search_lately_content{
      >span{
       .span
      }
    }
  }
  /*搜索结果*/
  #consequence{
    /*学校*/
    >.school{
    >h3{
    .h3
    }
        >ul{
          width: 100%;
          >li{
            float: left;
            width: 24%;
            height: auto;
            margin-right: 1% ;
            &:last-of-type{
              margin-right: 0;
            }
            >a{
              height: 100%;
              width: 100%;
              display: block;
              color:#333;
              background-color: #fff;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              box-shadow: 0 1px 0 1px rgba(0,0,0,.1);
              >img{
                width: 100%;
                height: 130px;
                overflow: hidden;
              }
              .text{
                padding:10px;
                >h3,>p,>.grade{
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  word-break: break-all;
                }
                >h3{
                  font-size:14px;
                }
                >.grade{
                  margin-top: 10px;
                  span{
                    padding:2px;
                    background: #eeeeee;
                    color:#f01414;
                    margin-right: 5px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                  }
                }
                >p{
                  font-size:12px ;
                  color:#666;
                  margin-top: 10px;
                }
              }

            }
          }
        }
    }
    >.lesson{
      >h3{
        .h3
      }
      >ul{
        width: 100%;
        >li{
          float: left;
          width: 24%;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          background-color: #fff;
          padding-bottom: 15px;
          margin-bottom: 15px;
          overflow: hidden;
          box-shadow: 0 1px 0 1px rgba(0,0,0,.1);
          >a{
            display: block;
            width: 100%;
            height: 100%;
            color:#333;
           >.img_box{
              position: relative;
              width: 100%;
              height: 145px;
              overflow: hidden;
              >img{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100%;
                transform:translate(-50%,-50%);
              }
            }
            >.bottom{
              padding:0 10px;
              >p{
                font-weight: 600;
                font-size: 16px;
                height: 60px;
                line-height: 60px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                word-break: break-all;
              }
              >h5{
                height: 30px;
                font-weight:400;
                font-size: 14px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                word-break: break-all;
              }
              >.new{
                font-size: 12px;
                color:#666;
                height: 25px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                word-break: break-all;
              }
              >.b_footer{
                height: 30px;
                line-height: 30px;
                position: relative;
                >ul{
                  width: 45%;
                  position: absolute;
                  left: 0%;
                  top: 0%;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  word-break: break-all;
                  display: inline-block;
                  >li{

                    float: left;
                    color: #f01414;
                    margin-right: 5%;
                    &:first-of-type{
                      em{
                        font-size: 17px;
                      }
                    }
                  }
                }
                >span{
                  display: -webkit-box;
                  -webkit-line-clamp: 1;
                  -webkit-box-orient: vertical;
                  word-break: break-all;
                  width: 40%;
                  position: absolute;
                  left:45%;
                  top: 0%;
                  color:#666666;
                }
              }
            }
          }

        }
      }
    }
    >.teacher{
      >h3{
        .h3
      }
      >ul{
        position: relative;
        width: 100%;
        >li{
          float: left;
          width: 24%;
          height: 100%;
          margin-right: 10px ;
          &:last-of-type{
            margin-right: 0;
          }
          >a{
            height: 100%;
            width: 100%;
            display: block;
            color:#333;
            background-color: #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.1);
            >img{
              width: 100%;
              height: 130px;
              overflow: hidden;
            }
            .text{
              padding:10px;
              >h3,>p,>.grade{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                word-break: break-all;
              }
              >h3{
                font-size:14px;
              }
              >.grade{
                margin-top: 10px;
                span{
                  padding:2px;
                  background: #eeeeee;
                  color:#f01414;
                  margin-right: 5px;
                  -webkit-border-radius: 2px;
                  -moz-border-radius: 2px;
                  border-radius: 2px;
                }
              }
              >p{
                font-size:12px ;
                color:#666;
                margin-top: 10px;
              }
            }

          }
        }
      }
    }
  }

}
  .no_info{
    font-size: 14px;
    color:#999;
    height: 30px;
    padding-left: 30px;
    line-height: 30px;
  }
}
