.main {
  background: url(../../img/mine_bag.jpg) no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.main > .content > h5 {
  height: 60px;
  line-height: 60px;
}
.comment {
  background-color: #fff;
}
.comment > h3 {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  border-bottom: 1px solid #eeeeee;
}
.comment > h3 > i {
  font-size: 18px;
  color: #f01414;
}
.comment > h3 > span {
  margin-top: 10px;
  height: 25px;
  line-height: 25px;
  background-color: #f01414;
  color: #fff;
  text-align: center;
  font-size: 12px;
  width: 10%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.comment > h3 > em {
  color: #f01414;
  font-size: 16px;
  margin: -1px;
}
.comment > h3 > em:first-of-type {
  margin-left: 30px;
}
.comment > .eva_lists > .Page {
  display: block;
  text-align: right;
}
.comment > .eva_lists > .eva_list {
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
}
.comment > .eva_lists > .eva_list > .list_top > img {
  width: 25px;
  height: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}
.comment > .eva_lists > .eva_list > .list_top > span {
  margin-left: 10px;
  margin-right: 20px;
}
.comment > .eva_lists > .eva_list > .list_top > em {
  display: inline-block;
  color: #f01414;
  margin: -1px;
  padding: 0;
  word-spacing: 0;
  font-size: 12px;
}
.comment > .eva_lists > .eva_list > .list_top > s {
  color: #999;
  font-size: 12px ;
  margin-left: 20px;
}
.comment > .eva_lists > .eva_list > .list_middle {
  text-indent: 2em;
  font-size: 14px;
}
