.left {
  position: relative;
}
.content {
  background-color: #f0eff5;
}
.content > .account_right {
  position: absolute;
  top: 220px;
  width: 65%;
  background-color: #fff;
  left: 28%;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}
.content > .account_right > .account_top {
  height: 70px;
  line-height: 70px;
  width: 100%;
}
.content > .account_right > .account_top nav {
  display: block;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.content > .account_right > .account_top nav > a {
  font-size: 16px;
  text-align: center;
  display: inline-block;
  width: 15%;
  color: #333;
}
.content > .account_right > .account_top nav > a.active {
  color: #f01414;
}
.content > .account_right > .content_middle {
  padding: 30px 30px 30px 46px;
}
.content > .account_right > .content_middle > .head > h5 {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}
.content > .account_right > .content_middle > .head > img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: bottom;
}
.content > .account_right > .content_middle > .nick_name,
.content > .account_right > .content_middle > .sex,
.content > .account_right > .content_middle > .birthday,
.content > .account_right > .content_middle .city {
  margin-top: 20px;
}
.content > .account_right > .content_middle > .nick_name > em,
.content > .account_right > .content_middle > .sex > em,
.content > .account_right > .content_middle > .birthday > em,
.content > .account_right > .content_middle .city > em {
  font-size: 14px;
}
.content > .account_right > .content_middle > .nick_name > input,
.content > .account_right > .content_middle > .sex > input,
.content > .account_right > .content_middle > .birthday > input,
.content > .account_right > .content_middle .city > input {
  width: 250px;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 30px;
  text-indent: 2em;
}
.content > .account_right > .content_middle > .nick_name > input:-ms-input-placeholder,
.content > .account_right > .content_middle > .sex > input:-ms-input-placeholder,
.content > .account_right > .content_middle > .birthday > input:-ms-input-placeholder,
.content > .account_right > .content_middle .city > input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.content > .account_right > .content_middle > .nick_name > input::-webkit-input-placeholder,
.content > .account_right > .content_middle > .sex > input::-webkit-input-placeholder,
.content > .account_right > .content_middle > .birthday > input::-webkit-input-placeholder,
.content > .account_right > .content_middle .city > input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.content > .account_right > .content_middle > .nick_name > i,
.content > .account_right > .content_middle > .sex > i,
.content > .account_right > .content_middle > .birthday > i,
.content > .account_right > .content_middle .city > i {
  margin-left: 10px;
  color: #f01414;
}
.content > .account_right > .content_middle > .save {
  margin-top: 30px;
  width: 200px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #85c226;
}
.content > .account_right > .content_middle.id_menu > div span {
  height: 60px;
}
.content > .account_right > .content_middle.id_menu {
  display: none;
}
.content > .account_right > .content_middle.id_menu > div {
  position: relative;
  margin-bottom: 20px;
}
.content > .account_right > .content_middle.id_menu > div > span {
  text-align: center;
  width: 120px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  background-color: #eeeeee;
}
.content > .account_right > .content_middle.id_menu > div > em,
.content > .account_right > .content_middle.id_menu > div > select,
.content > .account_right > .content_middle.id_menu > div > input {
  display: inline-block;
  width: 40%;
  height: 60px;
  font-size: 16px;
  text-indent: 1em;
  line-height: 60px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 120px;
  top: 0;
  border: 1px solid #dcdcdc;
  background: transparent;
  outline: none;
}
.content > .account_right > .content_middle.id_menu > div > em:-ms-input-placeholder,
.content > .account_right > .content_middle.id_menu > div > select:-ms-input-placeholder,
.content > .account_right > .content_middle.id_menu > div > input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.content > .account_right > .content_middle.id_menu > div > em::-webkit-input-placeholder,
.content > .account_right > .content_middle.id_menu > div > select::-webkit-input-placeholder,
.content > .account_right > .content_middle.id_menu > div > input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.content > .account_right > .content_middle.id_menu > div > em > option,
.content > .account_right > .content_middle.id_menu > div > select > option,
.content > .account_right > .content_middle.id_menu > div > input > option,
.content > .account_right > .content_middle.id_menu > div > em input,
.content > .account_right > .content_middle.id_menu > div > select input,
.content > .account_right > .content_middle.id_menu > div > input input {
  outline: none;
}
.content > .account_right > .content_middle.account_info {
  display: none;
}
.content > .account_right > .content_middle.account_info > #link_share {
  position: fixed;
  width: 30%;
  height: 280px;
  top: 50%;
  left: 50%;
  display: none;
  transform: translateY(-50%);
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 6;
}
.content > .account_right > .content_middle.account_info > #link_share > button {
  margin: 0 10px;
  width: 95%;
  display: block;
  font-size: 12px;
  background-color: #f01414;
}
.content > .account_right > .content_middle.account_info > #link_share > p {
  color: #333;
  font-size: 16px;
  padding: 0 10px;
}
.content > .account_right > .content_middle.account_info > #link_share > div {
  padding: 0 10px;
  background-color: #fff;
  height: 70px;
  line-height: 70px;
}
.content > .account_right > .content_middle.account_info > #link_share > div > span {
  font-size: 16px;
}
.content > .account_right > .content_middle.account_info > #link_share > div > span.email_code {
  color: #fff;
  background-color: #f01414;
  font-size: 12px;
  padding: 3px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}
.content > .account_right > .content_middle.account_info > #link_share > div > input {
  text-indent: 1em;
  height: 40px;
  width: 50%;
  /*background-color: pink;*/
  line-height: 40px;
  font-size: 16px;
}
.content > .account_right > .content_middle.account_info > #link_share > div > input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.content > .account_right > .content_middle.account_info > #link_share > div > input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.content > .account_right > .content_middle.account_info > div {
  height: 70px;
  line-height: 70px;
}
.content > .account_right > .content_middle.account_info > div > em {
  color: #333;
  display: inline-block;
  width: 30%;
  font-size: 16px;
}
.content > .account_right > .content_middle.account_info > div > span {
  width: 60%;
  font-size: 16px;
}
.content > .account_right > .content_middle.account_info > div > span.no_link {
  color: #f01414;
  width: 30%;
  cursor: pointer;
}
.content > .account_right > .content_middle.account_info > div.change_password {
  height: 210px;
}
.content > .account_right > .content_middle.account_info > div.change_password > p {
  font-size: 16px;
}
.content > .account_right > .content_middle.account_info > div.change_password > input {
  display: block;
  font-size: 16px;
  height: 60px;
  width: 60%;
  text-indent: 2em;
  line-height: 60px;
  margin-bottom: 20px;
  border: 1px solid #eee;
}
.content > .account_right > .content_middle.account_info > div.change_password > input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.content > .account_right > .content_middle.account_info > div.change_password > input::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
a {
  color: #006600;
  text-decoration: none;
}
a:hover {
  color: #990000;
}
.top {
  margin: 5px;
  color: #990000;
  text-align: center;
}
.info select {
  border: 1px #993300 solid;
  background: #FFFFFF;
}
.info {
  margin: 5px;
  text-align: center;
}
.info #show {
  color: #3399FF;
}
.bottom {
  text-align: right;
  font-size: 12px;
  color: #CCCCCC;
  width: 1000px;
}
