.main {
  background-color: #efeff4;
}
.main > .p_center {
  padding: 20px 0 ;
}
.main > .p_center > .mine_left {
  width: 20%;
  display: inline-block;
  margin-right: 2%;
}
.main > .p_center > .mine_left > .left_top {
  height: 230px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  position: relative;
}
.main > .p_center > .mine_left > .left_top > .box_img {
  height: 95px;
  width: 100%;
  background: url("../../img/mine_bg.jpg") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.main > .p_center > .mine_left > .left_top > .left_top_center {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.main > .p_center > .mine_left > .left_top > .left_top_center > img {
  height: 70px;
  width: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.main > .p_center > .mine_left > .left_top > .left_top_center > h3 {
  text-align: center;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}
.main > .p_center > .mine_left > .left_top > .left_top_center > a {
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #f01414;
  height: 30px;
  line-height: 30px;
}
.main > .p_center > .mine_left > .left_middle {
  margin-top: 15px;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.main > .p_center > .mine_left > .left_middle > a {
  display: block;
  text-align: center;
  color: #333;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.main > .p_center > .mine_left > .left_middle > a.active {
  color: #f01414;
}
.main > .p_center > .mine_left > .left_bottom {
  margin-top: 15px;
  background-color: #fff;
  padding: 0 20px;
  padding-bottom: 50px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.main > .p_center > .mine_left > .left_bottom > h3 {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
}
.main > .p_center > .mine_left > .left_bottom > textarea {
  width: 100%;
  padding: 5px;
  height: 105px;
  border: 1px solid #999;
}
.main > .p_center > .mine_left > .left_bottom > button {
  margin-top: 30px;
  width: 100%;
  color: #fff;
  height: 40px;
  font-size: 16px;
  background-color: #f01414;
}
.main > .p_center > .mine_right {
  width: 78%;
  background-color: #fff;
}
.main > .p_center > .mine_right > nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  border: 1px solid #eee;
}
.main > .p_center > .mine_right > nav > span {
  font-size: 16px;
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.main > .p_center > .mine_right > nav > span.active {
  color: #f01414;
}
.main > .p_center > .mine_right > .right_center {
  padding: 20px;
}
.main > .p_center > .mine_right > .right_center > .right_center_left {
  padding-top: 45px;
  padding-left: 26px;
  width: 40%;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.main > .p_center > .mine_right > .right_center > .right_center_left > p {
  font-size: 14px;
  padding-bottom: 30px;
}
.main > .p_center > .mine_right > .right_center > .right_center_right {
  width: 55%;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .realName,
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .idCard {
  position: relative;
  height: 60px;
  background-color: #fff;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .realName > input,
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .idCard > input {
  border: 1px solid #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 55%;
  color: #999;
  text-indent: 2em;
  height: 40px;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have input:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have input::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .realName > span,
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .idCard > span {
  position: absolute;
  left: 3%;
  top: 20%;
  font-size: 14px;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .Id_photo {
  margin-top: 20px;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .Id_photo > h3 {
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #333;
  text-align: left;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .against > .against_box,
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .open > .open_box {
  background: url("../../img/against.png") no-repeat center;
  -webkit-background-size: 85%;
  background-size: 85%;
  width: 60%;
  height: 160px;
  margin: 0 auto;
  margin-top: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .open > .open_box {
  margin-top: 20px;
  background-image: url("../../img/just.png");
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .against_box > input,
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .open_box > input {
  opacity: 0;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #eee;
  height: 100%;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .no_have .submit {
  background-color: #85c226;
  color: #fff;
  width: 210px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > div {
  text-align: center;
  /*δ�ϴ�*/
  /*�ϴ��ɹ�*/
  /*�ϴ�ʧ��*/
}
.main > .p_center > .mine_right > .right_center > .right_center_right > div.status_success > .status {
  color: #85c226;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > div.status_error > .status {
  color: #f01414;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > div > .status {
  height: 120px;
  line-height: 120px;
  font-size: 24px;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > div > .status > em {
  width: 35px;
  height: 35px;
  font-size: 24px;
  display: inline-block;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > div > .status_bottom > p {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .teacher .against > .against_box,
.main > .p_center > .mine_right > .right_center > .right_center_right > .teacher .open > .open_box {
  background-image: url("../../img/teacher_auth.png");
}
.main > .p_center > .mine_right > .right_center > .right_center_right > .teacher .open > .open_box {
  background-image: url("../../img/created_lesson_03.png");
  -webkit-background-size: 60% ;
  background-size: 60% ;
  height: 120px;
}
.mine_right {
  background-color: #fff;
}
.mine_right > .process {
  height: 90px;
  line-height: 90px;
  color: #fff;
  width: 100%;
  font-size: 16px;
  background-color: #333333;
  border-radius: 3px 3px 0 0;
  padding-left: 3%;
}
.mine_right > .process > a.active {
  font-size: 20px;
}
.mine_right > .content_process {
  padding: 0 6%;
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.mine_right > .content_process > div {
  width: 80%;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-left: none;
}
.mine_right > .content_process > div.course {
  position: relative;
}
.mine_right > .content_process > div.course a {
  position: absolute;
  right: -20%;
  top: 5%;
  color: #f01414;
  font-size: 16px;
}
.mine_right > .content_process > div > span {
  width: 20%;
  background-color: #eeeeee;
  text-align: center;
  border-radius: 3px;
}
.mine_right > .content_process > div > input,
.mine_right > .content_process > div > select {
  width: 78%;
  border: none;
  font-size: 16px;
  text-indent: 2em;
  line-height: 58px;
  background-color: #fff;
}
.mine_right > .content_process > div > input:-ms-input-placeholder,
.mine_right > .content_process > div > select:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
.mine_right > .content_process > div > input::-webkit-input-placeholder,
.mine_right > .content_process > div > select::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
.mine_right > .content_process > div.school {
  margin-bottom: 0;
}
.mine_right > .content_process > div.school > input,
.mine_right > .content_process > div.version > input,
.mine_right > .content_process > div.name > input {
  line-height: 56px;
}
.mine_right > .content_process > div.course_img {
  height: 240px;
  border: none;
}
.mine_right > .content_process > div.course_img h3 {
  font-size: 16px;
  padding-left: 3%;
  height: 60px;
  line-height: 60px;
}
.mine_right > .content_process > div.course_img > .img_box {
  background: url("../../img/created_lesson_03.png") no-repeat center;
  -webkit-background-size: 80%;
  background-size: 80%;
  height: 150px;
  margin: 0 auto;
  width: 40%;
}
.mine_right > .content_process > div.course_img > .img_box > input {
  opacity: 0;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #eee;
  height: 100%;
}
.mine_right > .content_process > div.sub_info {
  height: 250px;
  border: none;
}
.mine_right > .content_process > div.sub_info > h3 {
  font-size: 16px;
  padding-left: 3%;
  height: 60px;
  line-height: 60px;
}
.mine_right > .content_process > div.sub_info > textarea {
  height: 165px;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #eee;
  width: 100%;
}
.mine_right > .content_process > p {
  height: 45px;
  line-height: 45px;
  padding-left: 5%;
}
.mine_right > .content_process .confirm {
  width: 80%;
  background-color: #f01414;
  text-align: center;
}
.mine_right > .content_process > .read_more {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  padding-top: 30px;
  border: none;
}
.mine_right > .content_process > .read_more > em {
  color: #008aff;
  cursor: pointer;
}
.mine_right > .content_process > .read_more > em > i {
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;
}
.mine_right > .content_process > .content {
  border: none;
  height: auto;
  background-color: #fff;
}
.mine_right > .content_process > .content > .detail_course > p {
  text-align: center;
  padding-left: 30px;
  color: #333;
  font-size: 16px;
  line-height: 60px;
}
.mine_right > .content_process > .content .period {
  border-top: 2px solid #eeeeee;
  padding-top: 20px;
}
.mine_right > .content_process > .content .period > h2 {
  padding: 30px;
  font-size: 16px;
}
.mine_right > .content_process > .content .period > h2 > i {
  font-size: 20px;
  color: #008aff;
}
.mine_right > .content_process > .content .period > h2 > em {
  font-size: 22px;
  color: #666666;
}
.mine_right > .content_process > .content .period > P {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #333;
  padding: 0 30px;
  border-bottom: 1px solid #eeeeee;
}
.mine_right > .content_process > .content .period > P > i {
  width: 50px;
  height: 50px;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.mine_right > .content_process > .content .period > P > em {
  font-size: 14px;
}
