<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="shortcut icon " type="images/x-icon" href="../../ico.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>猴姆教学首页</title>
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/sweetalert2.css"/>
    <link rel="stylesheet" href="../../css/swiper.min.css"/>
    <link rel="stylesheet" href="../../css/index/index.css"/>

</head>
<body>
<!---->
<div class="layer">
    <div class="header"></div>
    <div class="main">
        <!--swiper  轮播图-->
        <div class="swiper">
            <div class="swiper-container" id="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../img/swiper1.png" alt=""/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../img/swiper1.png" alt=""/>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../img/swiper1.png" alt=""/>
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!--年级导航栏-->
        <div class="nav p_center">
            <ul class="clearfix">
                <li data-grade="0" class="active">全部</li>
                <li data-grade="1">一年级</li>
                <li data-grade="2">二年级</li>
                <li data-grade="3">三年级</li>
                <li data-grade="4">四年级</li>
                <li data-grade="5">五年级</li>
                <li data-grade="6">六年级</li>
                <li data-grade="7">初一</li>
                <li data-grade="8">初二</li>
                <li data-grade="9">初三</li>
                <li data-grade="10">高一</li>
                <li data-grade="11">高二</li>
                <li data-grade="12">高三</li>
            </ul>
        </div>
        <div class="content p_center">
            <div class="school">
                <div class="school_more">
                    <h3>热门名校</h3>
                    <a href="../school/school.html">更多>></a>
                </div>
                <ul class="clearfix">
                    <!--<li>
                        <a href="../school/edu_index.html">
                            <img src="../../img/index_school.png" alt=""/>
                            <div class="text">
                                <h3>华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学</h3>
                                <div class="grade">
                                <span>高中</span>
                                <span>初中</span>
                                </div>
                            <p>. 广州市天河区中山大道西1号</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../school/edu_index.html">
                            <img src="../../img/index_school.png" alt=""/>
                            <div class="text">
                                <h3>华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学</h3>
                                <div class="grade">
                                <span>高中</span>
                                <span>初中</span>
                                </div>
                            <p>. 广州市天河区中山大道西1号</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="../school/edu_index.html">
                            <img src="../../img/index_school.png" alt=""/>
                            <div class="text">
                                <h3>华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学</h3>
                                <div class="grade">
                                <span>高中</span>
                                <span>初中</span>
                                </div>
                            <p>. 广州市天河区中山大道西1号</p>
                            </div>
                        </a>
                    </li>-->
                </ul>
            </div>
            <div class="teacher">
                <div class="teacher_more">
                    <h3>人气名师</h3>
                    <a href="../famous_teacher/famous_tacher.html">更多>></a>
                </div>
                <ul class="clearfix">
                    <!--  <li>
                          <a href="../famous_teacher/teacher_index.html">
                              <img src="../../img/focus-img1.png" alt=""/>
                              <div class="text">
                                  <h3>魏雨</h3>
                                 <div class="grade">
                                     华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学
                                 </div>
                              <p>数学老师</p>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="../famous_teacher/teacher_index.html">
                              <img src="../../img/focus-img1.png" alt=""/>
                              <div class="text">
                                  <h3>魏雨</h3>
                                 <div class="grade">
                                     华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学
                                 </div>
                              <p>数学老师</p>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="../famous_teacher/teacher_index.html">
                              <img src="../../img/focus-img1.png" alt=""/>
                              <div class="text">
                                  <h3>魏雨</h3>
                                 <div class="grade">
                                     华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学
                                 </div>
                              <p>数学老师</p>
                              </div>
                          </a>
                      </li>
                      <li>
                          <a href="../famous_teacher/teacher_index.html">
                              <img src="../../img/focus-img1.png" alt=""/>
                              <div class="text">
                                  <h3>魏雨</h3>
                                 <div class="grade">
                                     华南师范大学附属中学华南师范大学附属中学华南师范大学附属中学
                                 </div>
                              <p>数学老师</p>
                              </div>
                          </a>
                      </li>-->
                </ul>
            </div>
            <div class="famous">
                <h3>名师课堂</h3>
                <ul class="clearfix">
                    <!-- <li>
                         <a href="javascript:;">
                             <div class="img_box">
                                 <img src="../../img/index_edu.png" alt=""/>
                             </div>
                             <div class="bottom">
                                 <p>2018年初二数学上期课堂</p>
                                 <h5>主讲老师：张燕</h5>
                                 <div class="new">更新：全等三角形</div>
                                 <div class="b_footer">
                                     <ul class="clearfix">
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                     </ul>
                                    <span>| &nbsp;&nbsp;&nbsp;&nbsp;1.6w人学习</span>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <div class="img_box">
                                 <img src="../../img/index_edu.png" alt=""/>
                             </div>
                             <div class="bottom">
                                 <p>2018年初二数学上期课堂</p>
                                 <h5>主讲老师：张燕</h5>
                                 <div class="new">更新：全等三角形</div>
                                 <div class="b_footer">
                                     <ul class="clearfix">
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                     </ul>
                                    <span>| &nbsp;&nbsp;&nbsp;&nbsp;1.6w人学习</span>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <div class="img_box">
                                 <img src="../../img/index_edu.png" alt=""/>
                             </div>
                             <div class="bottom">
                                 <p>2018年初二数学上期课堂</p>
                                 <h5>主讲老师：张燕</h5>
                                 <div class="new">更新：全等三角形</div>
                                 <div class="b_footer">
                                     <ul class="clearfix">
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                     </ul>
                                    <span>| &nbsp;&nbsp;&nbsp;&nbsp;1.6w人学习</span>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <div class="img_box">
                                 <img src="../../img/index_edu.png" alt=""/>
                             </div>
                             <div class="bottom">
                                 <p>2018年初二数学上期课堂</p>
                                 <h5>主讲老师：张燕</h5>
                                 <div class="new">更新：全等三角形</div>
                                 <div class="b_footer">
                                     <ul class="clearfix">
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                     </ul>
                                    <span>| &nbsp;&nbsp;&nbsp;&nbsp;1.6w人学习</span>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <div class="img_box">
                                 <img src="../../img/index_edu.png" alt=""/>
                             </div>
                             <div class="bottom">
                                 <p>2018年初二数学上期课堂</p>
                                 <h5>主讲老师：张燕</h5>
                                 <div class="new">更新：全等三角形</div>
                                 <div class="b_footer">
                                     <ul class="clearfix">
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                     </ul>
                                    <span>| &nbsp;&nbsp;&nbsp;&nbsp;1.6w人学习</span>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <div class="img_box">
                                 <img src="../../img/index_edu.png" alt=""/>
                             </div>
                             <div class="bottom">
                                 <p>2018年初二数学上期课堂</p>
                                 <h5>主讲老师：张燕</h5>
                                 <div class="new">更新：全等三角形</div>
                                 <div class="b_footer">
                                     <ul class="clearfix">
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                     </ul>
                                    <span>| &nbsp;&nbsp;&nbsp;&nbsp;1.6w人学习</span>
                                 </div>
                             </div>
                         </a>
                     </li>
                     <li>
                         <a href="javascript:;">
                             <div class="img_box">
                                 <img src="../../img/index_edu.png" alt=""/>
                             </div>
                             <div class="bottom">
                                 <p>2018年初二数学上期课堂</p>
                                 <h5>主讲老师：张燕</h5>
                                 <div class="new">更新：全等三角形</div>
                                 <div class="b_footer">
                                     <ul class="clearfix">
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                         <li class="iconfont icon-star"></li>
                                     </ul>
                                    <span>| &nbsp;&nbsp;&nbsp;&nbsp;1.6w人学习</span>
                                 </div>
                             </div>
                         </a>
                     </li>-->
                </ul>
            </div>
            <div class="show_img">
                <img src="../../img/index_show.png" alt=""/>
            </div>
            <div class="find clearfix">
                <h3>精彩发现</h3>

                <div class="left f_left dynamic">
                    <h5 class="clearfix">
                        <em class="iconfont icon-fasong"></em>动态
                     <!--   <i class="f_right" onclick="location.href='../request/dynamic.html'">更多>></i>
                   --> </h5>
                    <ul>

                        <!-- <li onclick="location.href='../request/dynamic_detail.html'">
                             <div class="dy_top">
                                 <img src="../../img/focus-img1.png" alt=""/>
                                 <div class="top_center">
                                     <em>胡晓霞</em>
                                     <div class="time">
                                         <i>1小时前</i>
                                         <del>华南师范大学附属中学</del>
                                     </div>
                                 </div>
                             </div>
                                 <div class="middle">
                                     <img src="../../img/focus-img1.png" alt=""/>
                                     <div class="middle_text">
                                        <p>谈到消息的可靠性投递，无法避免的，在实际工作中经常碰到，比如一些核心的业务需要保障消息不丢失，接下来我们看一个可靠性的...</p>
                                         <div class="md_bottom">
                                             <span>14万浏览</span>
                                             <em class="iconfont icon-wujiaoxingkong">121</em>
                                         </div>
                                     </div>
                                 </div>

                         </li>
                         <li onclick="location.href='../request/dynamic_detail.html'">
                             <div class="dy_top">
                                 <img src="../../img/focus-img1.png" alt=""/>
                                 <div class="top_center">
                                     <em>胡晓霞</em>
                                     <div class="time">
                                         <i>1小时前</i>
                                         <del>华南师范大学附属中学</del>
                                     </div>
                                 </div>
                             </div>
                                 <div class="middle">
                                     <img src="../../img/focus-img1.png" alt=""/>
                                     <div class="middle_text">
                                        <p>谈到消息的可靠性投递，无法避免的，在实际工作中经常碰到，比如一些核心的业务需要保障消息不丢失，接下来我们看一个可靠性的...</p>
                                         <div class="md_bottom">
                                             <span>14万浏览</span>
                                             <em class="iconfont icon-wujiaoxingkong">121</em>
                                         </div>
                                     </div>
                                 </div>

                         </li>-->

                    </ul>
                </div>
                <div class="right f_left request">
                    <h5 class="clearfix">
                        <em class="iconfont icon-9"></em>问答
                      <!--  <i class="f_right" onclick="location.href='../request/request.html'">更多>></i>
                    -->
                    </h5>
                    <ul>

                        <!--  <li onclick="location.href='../request/request_detail.html'">
                             <p>k12在线教育在国外k12在线教育在国外k12在线教育在国外k12在线教育在国外的发展状况，超出26字省略...</p>
                              <div class="clearfix">
                                  <em class="iconfont icon-wode1">    &nbsp;魏雨</em>
                                  <em class="iconfont icon-huangguan">&nbsp;15积分</em>
                                  <em class="iconfont icon-xiaoxi1">  &nbsp;99+积分</em>
                                  <span class="f_right">
                                      <i class="iconfont icon-weibiaoti1"></i>
                                      <del>我要回答</del>
                                  </span>
                              </div>
                          </li>
                          <li onclick="location.href='../request/request_detail.html'">
                             <p>k12在线教育在国外k12在线教育在国外k12在线教育在国外k12在线教育在国外的发展状况，超出26字省略...</p>
                              <div class="clearfix">
                                  <em class="iconfont icon-wode1">    &nbsp;魏雨</em>
                                  <em class="iconfont icon-huangguan">&nbsp;15积分</em>
                                  <em class="iconfont icon-xiaoxi1">  &nbsp;99+积分</em>
                                  <span class="f_right">
                                      <i class="iconfont icon-weibiaoti1"></i>
                                      <del>我要回答</del>
                                  </span>
                              </div>
                          </li>
                          <li onclick="location.href='../request/request_detail.html'">
                             <p>k12在线教育在国外k12在线教育在国外k12在线教育在国外k12在线教育在国外的发展状况，超出26字省略...</p>
                              <div class="clearfix">
                                  <em class="iconfont icon-wode1">    &nbsp;魏雨</em>
                                  <em class="iconfont icon-huangguan">&nbsp;15积分</em>
                                  <em class="iconfont icon-xiaoxi1">  &nbsp;99+积分</em>
                                  <span class="f_right">
                                      <i class="iconfont icon-weibiaoti1"></i>
                                      <del>我要回答</del>
                                  </span>
                              </div>
                          </li>
                          <li onclick="location.href='../request/request_detail.html'">
                             <p>k12在线教育在国外k12在线教育在国外k12在线教育在国外k12在线教育在国外的发展状况，超出26字省略...</p>
                              <div class="clearfix">
                                  <em class="iconfont icon-wode1">    &nbsp;魏雨</em>
                                  <em class="iconfont icon-huangguan">&nbsp;15积分</em>
                                  <em class="iconfont icon-xiaoxi1">  &nbsp;99+积分</em>
                                  <span class="f_right">
                                      <i class="iconfont icon-weibiaoti1"></i>
                                      <del>我要回答</del>
                                  </span>
                              </div>
                          </li>
                          <li onclick="location.href='../request/request_detail.html'">
                             <p>k12在线教育在国外k12在线教育在国外k12在线教育在国外k12在线教育在国外的发展状况，超出26字省略...</p>
                              <div class="clearfix">
                                  <em class="iconfont icon-wode1">    &nbsp;魏雨</em>
                                  <em class="iconfont icon-huangguan">&nbsp;15积分</em>
                                  <em class="iconfont icon-xiaoxi1">  &nbsp;99+积分</em>
                                  <span class="f_right">
                                      <i class="iconfont icon-weibiaoti1"></i>
                                      <del>我要回答</del>
                                  </span>
                              </div>
                          </li>-->

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>

</body>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/sweetalert2.js"></script>
<script src="../../js/swiper.min.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/template.js"></script>
<script>
    template.helper("sub", function (sub) {
        return parseInt(20000 + sub);
    });
    template.helper("str", function (str) {
        return str.split(",");
    });
    template.helper("spl", function (spl) {
        return spl.split(" ");
    })
    template.helper("time", function (time) {
        var timestamp = new Date().getTime();//当前时间戳
        var kk = timestamp - time;//发表时的时间戳
        var timea = "";
        var sec = parseInt(kk / 1000);//秒
        var min = parseInt(sec / 60);//分
        var hour = parseInt(min / 60);//时
        var day = parseInt(hour / 24);//天
        if (sec < 60) {
            timea = sec + "秒前";
        } else if (min < 60) {
            timea = min + "分钟前";
        } else if (hour < 24) {
            timea = hour + "小时前";
        } else if (day < 7) {
            timea = day + "天前";
        } else {
            timea = new Date(time).toLocaleString().replace(/:\d{1,2}$/, ' ').replace(/\//g, "-");
        }
        return timea;

    });
</script>
<script type="text/html" id="famous">
    {{if data==null||data.length==0}}
    <div class="no_in">对不起暂时没有合适的教师推荐</div>
    {{else}}
    {{each data as value i}}
    <li>
        <a href="../famous_teacher/teacher_index.html?id={{value.teacher.userid}}">
            <img src="{{value.teacher.portrait}}" alt=""/>
            <div class="text">
                <h3>{{value.teacher.nickname}}</h3>

                <div class="grade">
                    {{value.schoolName}}
                </div>
                <p>{{value.teachingSubjects}}老师</p>
            </div>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>
<script id="school" type="text/html">
    {{if data == null||data.length==0}}
    <div class="no_in">对不起，暂时没有合适的教师推荐</div>
    {{else}}
    {{each data as value i}}
    <li>
        <a href="../school/edu_index.html?id={{value.school.schoolId}}">
            <img src="{{value.school.portrait==null?'../../img/index_school.png':value.school.portrait}}" alt=""/>

            <div class="text">
                <h3>{{value.school.name}}</h3>
                <div class="grade">
                    {{each str(value.school.containClasses) as span i}}
                    <span>{{span}}</span>
                    {{/each}}
                </div>
                <p>. {{value.school.address}}</p>
            </div>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>
<!--名师讲堂-->
<script id="lesson" type="text/html">
    {{if data==null||data.length==0}}
    <div class="no_in">对不起，暂时没有合适的课程推荐</div>
    {{else}}
    {{each data as value i}}
    <li>
        <a href="../lesson/video.html?id={{value.course.id}}">
            <div class="img_box">
                <img src="{{value.course.coursePicture==null?'../../img/index_edu.png':value.course.coursePicture}}"
                     alt=""/>
            </div>
            <div class="bottom">
                <p>
                    {{value.course.academicYear}}{{value.course.grade}}{{value.course.semester}}{{value.course.subject}}{{value.course.name}}</p>
                <h5>主讲老师：{{value.speaker}}</h5>

                <div class="new">更新至第{{value.updateNum}}课时</div>
                <div class="b_footer">
                    <ul>
                        <li>&nbsp;&nbsp;{{value.StudyCourseNum}}个人正在学习中</li>
                    </ul>
                    <!--<ul class="clearfix">
                        <li class="iconfont icon-star"></li>
                        <li class="iconfont icon-star"></li>
                        <li class="iconfont icon-star"></li>
                        <li class="iconfont icon-star"></li>
                    </ul>
                    <span>| &nbsp;&nbsp;&nbsp;&nbsp;{{value.StudyCourseNum}}人学习</span>-->
                </div>
            </div>
        </a>
    </li>
    {{/each}}
    {{/if}}
</script>
<script id="request" type="text/html">
    {{if data ==null||data.length==0}}
    <div class="no_in">对不起，暂时没有合适的问答推荐</div>
    {{else}}
    {{each data as value i}}
   <!-- <li onclick="location.href='../request/request_detail.html?id={{value.questions.id}}'">
   --> <li>
        <p>{{value.questions.title}}</p>

        <div class="clearfix">
            <em class="iconfont icon-wode1">
                {{value.questionuser.nickname==null?value.questionuser.realName==null?"猴姆教学":value.questionuser.realName:value.questionuser.nickname}}</em>
            <em class="iconfont icon-huangguan"> {{value.questions.reward}}积分</em>
            <em class="iconfont icon-xiaoxi1"> {{value.answerNum}}</em>
                                       <!-- <span class="f_right">
                                            <i class="iconfont icon-weibiaoti1"></i>
                                            <del>我要回答</del>
                                        </span>-->
        </div>
    </li>
    {{/each}}
    {{/if}}
</script>
<script id="dynamic" type="text/html">
    {{if data ==null ||data.length==0}}
    <div class="no_in">对不起，暂时没有合适的动态推荐</div>
    {{else}}
    {{each data as value i}}
    <li>
    <!--<li onclick="location.href='../request/dynamic_detail.html?dynamicid={{value.dynamic.id}}'">-->
        <div class="dy_top">
            <img src="{{value.user.portrait==null?'../../img/logo.png':value.user.portrait}}" alt=""/>

            <div class="top_center">
                <em>{{value.user.nickname==null?value.user.realName==null?"猴姆教学":value.user.realName:value.user.nickname}}</em>

                <div class="time">
                    <i>{{time(value.dynamic.updateTime)}}</i>
                    <del>{{value.school==null?"暂未完善学校":value.school}}</del>
                </div>
            </div>
        </div>
        <!--判断有没有图片 如果没有的话就加个no_pic的类名-->
        {{if value.dynamic.picture==null||value.dynamic.picture==""}}
        <div class="middle no_pic">
            <div class="middle_text">
                <p> {{value.dynamic.body}}</p>

                <div class="md_bottom">
                    <span>浏览{{value.dynamic.previewNum}}次</span>
                    <em class="iconfont icon-xin1"> {{value.love.点赞总数}}</em>
                </div>
            </div>
        </div>
        {{else}}
        <div class="middle">
            <img src="{{str(value.dynamic.picture)[0]}}" alt=""/>

            <div class="middle_text">
                <p> {{value.dynamic.body}}</p>

                <div class="md_bottom">
                    <span>浏览{{value.dynamic.previewNum}}次</span>
                    <em class="iconfont icon-xin1">{{value.love.点赞总数}}</em>
                </div>
            </div>
        </div>
        {{/if}}
    </li>
    {{/each}}
    {{/if}}
</script>
<script>

    $(function () {
        var userId = localStorage.getItem("this_userid");
        if (!userId) {
            userId = -1;
        }
        setTimeout(function () {
            $(".header").load("../common/header_logo.html");
            $(".footer").load("../common/footer.html");
        },50);
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'horizontal', // 垂直切换选项
            loop: true, // 循环模式选项
            autoplay: true,
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
            },
        });
        /*/!*通过 token 查询用户信息接口*!/
        var token = localStorage.getItem("token");
        myAjax({url:`/user/
        token /
        ${token}
        `,
        type:'post', async
        :
        false
    }, function (data) {
        console.log(data);
        if (data.status == 200) {
            localStorage.setItem("this_userid", data.data.userid);
        }
        if (data.status == 321) {
            sweetAlert(
                    "sorry",
                    "您的账号信息在别处登录，请您重新登录",
                    "error"
            ).then(function () {
                        location.href = '../login.html';
                    })
        }
    })*/
    /*点击选择学校*/
    var grade = 0
    $(".nav li").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
        //获取自定义的年级属性
        grade = $(this).data("grade");
        famous();
        school();
        lesson();
        request();

    })

    /*名师*/
    function famous() {
        myAjax({
            url: "/content/manage/get/Appoint/Content",
            data: {classify: 1, grade: grade, page: 1, size: 8},
            type: "post"
        }, function (data) {
            console.log(data);
            if (data.status == 200) {
                $(".teacher>ul").html(template("famous", data))
            }
        })
    }
    famous();

    /*名校*/
    function school() {
        myAjax({
            url: "/content/manage/get/Appoint/Content",
            data: {classify: 2, grade: grade, page: 1, size: 4},
            type: "post"
        }, function (data) {
            console.log(data);
            if (data.status == 200) {
                $(".school>ul").html(template("school", data))
            }
        })
    }
    school();
    /*名师讲堂*/
    function lesson() {
        myAjax({
            url: "/content/manage/get/Appoint/Content",
            data: {classify: 4, grade: grade, page: 1, size: 4},
            type: "post"
        }, function (data) {
            console.log(data);
            if (data.status == 200) {
                $(".famous>ul").html(template("lesson", data))
            }
        })
    }
    lesson();
    /*动态*/
    function dynamic() {
        /*另外掉接口*/
        myAjax({
            url: "/dynamic/get/Dynamic/List",
            data: {page: 1, size: 8, userId: userId},
            type: "post"
        }, function (data) {
            console.log(data);
            if (data.status == 200) {
                $(".dynamic>ul").html(template("dynamic", data));
            }
        })
    }
    dynamic();
    /*首页问答*/
    function request() {
        myAjax({
            url: "/content/manage/get/Appoint/Content",
            data: {classify: 5, grade: grade, page: 1, size: 4},
            type: "post"
        }, function (data) {
            console.log(data);
            if (data.status == 200) {
                $(".request>ul").html(template("request", data))
            }
        })
    }
    request();
    })
</script>
</html>